<!DOCTYPE html>
<html lang="en">

<head>


  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/owl.carousel.css">
  <link rel="stylesheet" href="../css/font-awesome.css">
  <title>kirana</title>
  {{!-- {{>headerlink}} --}}
</head>

<body>
  {{>header}}
  <div class="carousel-wrap">
    <div class="owl-carousel">

      <div class="item">
        <img src="../img/Orange_25kg.png" width="200" height="225">

      </div>
      <div class="item"><img src="../img/Atta1.webp" width="200" height="225"></div>
      <div class="item"><img src="../img/airel.png" width="200" height="225"></div>
      <div class="item"><img src="../img/flower.png" width="200" height="225"></div>
      <div class="item"><img src="../img/freedom.png" width="200" height="225"></div>
      <div class="item"><img src="../img/toor-dal.png" width="200" height="225"></div>
      <div class="item"><img src="../img/bigparaOil.webp" width="200" height="225"></div>
      <div class="item"><img src="../img/sugar.png" width="200" height="225"></div>
      <div class="item"><img src="../img/taj.jpg" width="200" height="225"></div>
      <div class="item"><img src="../img/curd.png" width="200" height="225"></div>
      <div class="item"><img src="../img/Arokya-Milk-500ml.jpg" width="200" height="225"></div>
      <div class="item"><img src="../img/allsoap.png" width="200" height="225"></div>
    </div>
  </div>

  {{>footer}}
  <script src="../jq/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/main.js"></script>

  {{!-- {{>footerlink}} --}}



</body>

</html>